@import '~office-ui-fabric-react/dist/sass/References.scss';
.FabricDemo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
    margin-bottom: 20px;
  }
}
